export NODE_ENV=production
export TWILIO_ACCOUNT_SID=AC68764c90b66c98be87f9cb00a3032576
export TWILIO_AUTH_TOKEN=1587b14172d1a5c26cecb88a146936de
export TWILIO_PHONE_NUMBER=15403071105
export ATLAS_URI="mongodb+srv://mufasubhaidev:lbHdmmR0pmgNdMin@cluster0.xw8z1.mongodb.net/matchtor?retryWrites=true&w=majority"
export JWT_SECRET="n!$!g`6mO`-N?mVWRgOfKm+/{t"


